body {
  background-color: #EFFFFD;
}

hr {

  border-style: none;
  border-top-style: dotted;
  width: 5%;
  border-color: grey;
  border-width: 5px;

}

h2 {
  color:#66BFBF;
}

h1 {
  color:#66BFBF;
}
